@model IEnumerable<CustomerMVC.Models.Cineplex>

@{
    ViewBag.Title = "Index";
}

<h2>Cineplex</h2>
<table class="table">
    <tr>
        <th>
            Location
        </th>
        <th>
            Maps
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="1" style="width:250px;height:210px;">
            </td>
        </tr>
    }

</table>
