@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ABC Cineplex</h1>
    <p class="lead">Special Corporate Events</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Corporate Information &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Now Playing</h2>
        <p>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/Everest_poster.jpg/220px-Everest_poster.jpg" alt="nowplaying" style="width:250px;height:350px;">
        </p>
        <p class="btn btn-default">@Html.ActionLink("See Movies","Index", "Movie")</p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon</h2>
        <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Paranormal_Activity_The_ghost_dimension_Poster.jpg/220px-Paranormal_Activity_The_ghost_dimension_Poster.jpg" alt="newrelease" style="width:250px;height:350px;"></p>
        <p><a class="btn btn-default" >More Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tickets</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Buy Tickets &raquo;</a></p>
    </div>
</div>