@{
    ViewBag.Title = "Home Page";
}
<style>
    .gallery 
    {
        position: relative;
    }

    .gallery img 
    {
            position: absolute;
            left: 0;
            top: 0;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
    $(function () {
        $('.gallery img:gt(0)').hide();
        setInterval(function ()
        {
            $('.gallery :first-child').fadeOut().next('img').fadeIn().end().appendTo('.gallery');
        }
        , 10000
        );
    });
</script>
<div class="jumbotron">
    <h1>ABC Cineplex</h1>
    <p class="lead">Special Corporate Events</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Corporate Information &raquo;</a></p>
</div>

<div class="row">
    <div class="gallery">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Paranormal_Activity_The_ghost_dimension_Poster.jpg/220px-Paranormal_Activity_The_ghost_dimension_Poster.jpg" alt="newrelease" style="width:250px;height:350px;">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/Everest_poster.jpg/220px-Everest_poster.jpg" alt="newrelease" style="width:250px;height:350px;">

    </div>
    <div class="col-md-4">
        <h2>Now Playing</h2>
        <p>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/Everest_poster.jpg/220px-Everest_poster.jpg" alt="nowplaying" style="width:250px;height:350px;">
        </p>
        <p class="btn btn-default">@Html.ActionLink("See Movies","Index", "Movie")</p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon</h2>
        <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Paranormal_Activity_The_ghost_dimension_Poster.jpg/220px-Paranormal_Activity_The_ghost_dimension_Poster.jpg" alt="newrelease" style="width:250px;height:350px;"></p>
        <p><a class="btn btn-default" >More Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Connected!</h2>
        <p>Need help or booking tickets via online. Just get online with us and we can help you.</p>
        <p class="btn btn-default">@Html.ActionLink("Online Chat", "Chat", "Home")</p>
    </div>
</div>